@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
    </h1>
    <div>
        <h2>AppSettings Environment: </h2> @Appsettings.AppSettingEnv
    </div>
    <div>
        <h2>Environment: </h2>  @Appsettings.Environment
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
