<div id="divClientMessage" style="display:none;">
    <div class="row">
        <div class="col-md-12">
            <div class="" id="divClientMessageText">

            </div>
        </div>
    </div>
</div>